{
  "branches": [
    {
      "name": "master"
    },
    {
      "name": "rc",
      "prerelease": "rc"
    },
    {
      "name": "rc/*",
      "prerelease": "${name.replace(/[\W]+/g, '-')}'}"
    },
  ]
}
