{
  "branches": [
    {
      "name": "master"
    },
    {
      "name": "rc",
      "prerelease": "rc"
    },
    {
      "name": "rc-*",
      "prerelease": "${name.replace(/[^a-zA-Z0-9]+/g, '-')}'}"
    },
  ]
}
